.edit {
    font-size: 24px; /* Increase the font size to increase icon size */
    width: 32px; /* Set a specific width */
    height: 32px; /* Set a specific height */
    color: rgba(143, 20, 2, 1); /* Change the color if needed */
}

.seemore{
    color: rgba(143, 20, 2, 1);
}