.main-container{
  overflow: hidden;
 
}
.information{
  width:auto;
  overflow-y: scroll;
  height:400px;
  
}
.ba{
  text-align: center;
  font-size: 20px;
  font-weight:10;
  line-height:20px;
  letter-spacing: 0em;
  
  padding-top: 50px;
  margin-right: px; 
  margin-left:350px;
  font-weight: 900;
  color:#8F1402 !important;
  text-align: center; 
  
}
.base{
  text-align: center;
  font-size: 20px;
  font-weight:10;
  line-height:20px;
  letter-spacing: 0em;
  
  padding-top: 50px;
  margin-right: px; 
  margin-left:280px;
  font-weight: 900;
  color:#8F1402 !important;
  text-align: center; 
}
.custom-file-input {
  /* display: inline-block; */
  position: relative;
  width:600px;
  height: 40px;
  border: 2px solid #ededed;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center !important;
  /* Hide default file input */
}
.custom-file-upload {
  /* display: inline-block; */
  position: relative;
  /* width:600px; */
  height: 40px;
  border: 2px solid #ededed;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center !important;
  /* Hide default file input */
}
.uploadButton{
  background-color: #8F1402;
  color: #ffffff;
  width:130px;
  height:40px;
  border-radius: 10px;
  text-align: center;
}

.image-path{
  color:#000;
  margin-left: 40px;
}
.profile{
  padding-top: 20px;
  margin-right: 100px;
  overflow: hidden;
}
.imageicon {
  height: 70px;
  width: 70px;
  border: 5px solid #8F1402;
  border-radius: 50%;
}
.upload-profile{
  height: 70px;
  width: 70px;
  border: 5px solid #8F1402;
  border-radius: 50%;
  padding-top: 0px;
}
.sideH{
  font-weight: 900;
  color:#000000;
  text-align: center; 
  padding-top: 20px;
  margin-top:30px ;
}
.scroll-content {
  padding: 70px;
  font-weight: 600;
  /* color: #8F1402; */
}


.scroll-bar {
  width: 300px; 
  height: calc(88vh); 
  background-color: FAFAFA(223, 211, 211);
  color: #A6A6A6;
  margin-top: 0px;
  background-color:  #E9D0CC
}
.card-container{
  width: 800px;
  height: 550px;
  border-radius: 24px;
  background-color: #ffffff;
  margin-left: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 35px;
  overflow: hidden;
}
.rounded-input {
  border-radius: 10px; 
  padding: 10px;
  border: 1px solid #ccc; 
  outline: none; 
  width: 100%;
  background:#ffff !important;
  }

  .imageborder{
    width:50px;
    height:50px;
  }
.e{  
  border-radius: 15px; 
  border: 1px solid #ccc; 
  padding: 10px; 
}
.z{
  margin-top: 400px;
}
.selected {
background-color: #8F1402; 
color: white; 
} 
.field{
margin-left: 100px;
margin-bottom: 20px;
max-width: 600px;


}
/* ////////////////////////////////////////////////// */
p{
  margin-left: 50px;
}
.circle {
  width: 60px; 
  height: 60px;
  border: 2px solid #A6A6A6;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: 20px; 
}
.circle.highlighted {
  border-color:#000; 
}
.persona img, .educat img, .licens img ,.notes img{
  width: 38px;
  height: 38px;
  cursor:pointer;
}
.persona, .licens, .educat,.notes{  margin-left: -10px;
  margin-bottom: -35px;
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
}
.person img {
  width: 320px;
}
.highlighted {
  background-color: #8F1402; 
}
.highlighte {
  color: #000000; 
}
/* ///////////////////////////////// */
.popup-container {
  position: fixed;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 600px; 
  height:580px; 
  background-color:white ;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  border-radius: 20px;
}
.scrollable-content{
  overflow-y: scroll;
  height: 450px;
  overflow-x: hidden;
}

.sub{
  font-weight: 500;
  color: #000;
  margin-top: 10px;
  font-style: Verdana;
}
.popup-container_1{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; 
  height: 580px; 
  background-color:white ;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  border-radius: 20px;
}
.scrollable-content_1{
  overflow-y: scroll;
  height: 450px !important;
  overflow-x: hidden;
  
  
}
.b{
  background-color: #ededed;
}
.card{
  width:100px;
  text-align: center;
  margin-top:0px;
}




.test {
  /* width: 100%;
  height: 100%; */
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  display: inline-flex;
  
  /* margin-bottom: 20px; */
} 

.selected_1{
  background: #8F1402;
  color: white;
}

.selection {
  width: 130px;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: linear-gradient(0deg, 0%, 100%), linear-gradient(0deg, #8F1402 0%, #8F1402 100%);
  border-radius: 10px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
  cursor: pointer;
}

.word {
  width: 60px;
  font-size: 16px;
  font-weight: 700;
  word-wrap: break-word;
}

/* /////////////////////////////buttons */
.custom-button {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  margin-top: 20px;
}

.btn-previous {
  margin-left: 550px;
  background-color: #D4D4D4;
  color: #000000;
}

.btn-next {
  margin-right: 100px;
  background-color: #8F1402;
  color: #FFFFFF; 
}
.row{
  margin-left: 150px;

}
.date-row{
  margin-left: -10px;
  margin-bottom: 20px;
  
  
}
.date-input {
  max-width: 220px;
  margin-bottom: 20px;
  
}

.rounded-input.ng-touched.ng-invalid {
  border: 1px solid red; 
  border-radius: 10px; 
}


.license{
  width:auto;
  height:250px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.cardlicense{
  color: black;
  font-size: 14px;
  margin-left: 5%;
  margin-top: 8px;
 
}
.cardhead{
  color: black;
  font-size: 18px;
  font-weight: 900;
  margin-left: 5%;
  margin-bottom: 8px;

}
.btn-close{
  margin-left: 95%;
}
.card{
  width:90%;
  text-align:left;
  margin-top: 10px;
  margin-left: 5%;
}
.Education{
  width:auto;
  height:360px;
  overflow-y: scroll;
}
.fa-edit{
  font-size: 24px;
  cursor: pointer;
  margin-left: 20%;
  /* background-color: orange; */
 
}
.iconUpd{
  margin-left: 95%;
  background-color:#E9D0CC;
  border-radius: 100%;
  height:30px;
  width:30px;

}

#validateTill:disabled {
  background-color:#E9D0CC;
  color:black;
}

input:disabled {
  background-color: #f2f2f2; 
  color: #999; 
}


.bt{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  color: #8F1402;
  padding-top: 50px;
  margin-right: 60px;

}

.page{
  margin-left: 50px;
  margin-right: 50px;
}


.image-upload-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-left: 100px;
}
.profile-upload-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-left: 100px;
}
.text-danger{
  margin-left: 50px;
}


.rounded-input {
  border-radius: 10px; /* Adjust the border-radius to control the curve */
  padding: 10px; /* Adjust the padding as needed */
  border: 1px solid #ccc; /* Add a border to the input for visual separation */
  outline: none; /* Remove the default input outline */
  width: 100%;
  background: linear-gradient(0deg, #C9C9C9, #C9C9C9);
  
/* Make the input field expand to its container's width */
}


.signature-container {
  text-align: center;
  margin: 20px;
}

.image-box {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cccccc;
  background-color: #f9f9f9;
  border-radius: 10px;
}


.preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.box-text {
  font-size: 16px;
  color: #555555;
}





.scrollable-content_1{
  overflow-y: scroll;
  height: 350px;
  overflow-x: hidden;
}

.row_1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.col_1 {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.col_2{
  margin-right:-20px;
}

.profile-img {
  vertical-align: middle;
  margin-right: -50px;
  margin-left:150px ;
}

.profile-btn {
  width: 220px;
  height: 70px;
  background: none;
  color: #8F1402;
  border: none;
  margin-right: 250px;
}

.back-btn {
  margin-right: -150px;
  width: 130px !important;
    height: 40px;
  background-color: #D4D4D4;
  color: #000000;
  margin-top: 20px;
  margin-right: 0px;
}

.submit-btn {
  margin-right: 40px;
  width: 130px !important;
    height: 40px;
  border-radius: 8px;
  background-color: #8F1402;
  margin-top: 20px;
}
.circle.highlighted {
  border-color:#000; /* Change the border color for highlighted circles */
}
.scroll-content p.underline {
  text-decoration: underline;
}

.underline {
  color: black; 
}
  .scroll-content .selected  {
    background-color: white; /* Set your desired background color */
    color:black; /* Set your desired text color */
  }
  .not-selected{
    background-color: #ffff;
  }
  .gender-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    /* width: 200px; 
    height: 50px; */
    /* margin-right: 30px; */
    /* margin-bottom: 20px; */
  }
  .gender-buttons button {
      /* display: flex; */
      align-items: center;
      border-radius: 10px;
      width: 200px; /* Adjust the width as needed */
      height: 50px;
      margin-right: 30px;
      margin-bottom: 10px;
      
    }
    .genderInfo{
      display: flex;
      align-items: center;
      margin-top: 0px;
  }
  .btnmale{
      border-radius: 10px;
      width: 130px !important;
      height: 50px;
     
      /* margin-right: 30px; */
  }
  .btnfemale{
    border-radius: 10px;
    width: 130px !important;
    height: 50px;
    /* background-color: white; */

}
.male{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.cardnum{
  color: black;
  font-size: 18px;
  margin-left: 5%;
  margin-top: 5px;
 
}