<mat-card>
<form [formGroup]="filterForm" (ngSubmit)="onSelectionChange()" class="col-md-12 p-20">
  <div formArrayName="categories">
    <div *ngFor="let categoryGroup of categoriesFormArray.controls; let i = index" [formGroupName]="i">
      <h3 class="f-s-24 f-w-500 text-center">{{ categories[i].name }}</h3>
      <div>
        <label class="f-s-18 f-w-500 text-center p-12">
          <input type="checkbox" formControlName="all" /> All
        </label>
        <mat-divider></mat-divider>
      </div>
      <div formArrayName="options" >
        <div *ngFor="let optionControl of getOptionsControls(categoryGroup); let j = index" class="p-12">
          <label class="f-s-18 f-w-500 text-center">
            <input type="checkbox" [formControlName]="j" />
            {{ categories[i].options[j].label }}
          </label>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </div>
  <app-button label="Apply" type="submit" [buttonColor]="'#8F1402'"  [buttonWidth]="'50%'"></app-button>

</form>
</mat-card>