.communicationlink {
    color: cornflowerblue;
    font-style: italic;
}

.example-container {
    // height: 455px;
    width: 100%;
    // max-width: 100%;
    overflow: auto;
    border-radius: 10px;
}

.exportselection{
    height: 50%;
    width:50%;
    border-radius: 20px 20px;
//   margin-left: 55px;
  margin-top: 10px;
}


