mat-form-field {
    margin-right: 12px;
  }

  .profileimage {
    max-width: 150px;
    max-height: 200px; /* Adjust the value to your desired maximum height */
    margin-left: 50px;
    margin-top: 10px;
    cursor:pointer;
    }