.communicationlink {
    color: cornflowerblue;
    font-style: italic;
}

.example-container {
    height: 455px;
    width: 100%;
    // max-width: 100%;
    overflow: auto;
    border-radius: 10px;
}

.exportselection{
    height: 50%;
    width:40%;
    border-radius: 20px 20px;
    border: 1px solid black;
}
